NNG4/Game/LevelsClean/Manooshree_tests/myenv/
env/
myenv/
*.pyc
__pycache__/
*.dylib
*.so
deepseek-prover-lora/checkpoint-*/
deepseek-prover-lora-2/checkpoint-*/
deepseek-prover-lora-3/checkpoint-*/
.lake/
plots/
deepseek-prover-lora*/